@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");
@import "../src/modules-scss/_variables.scss";
@import "../src/modules-scss/hero.scss";
@import "../src/modules-scss/skills.scss";
@import "../src/modules-scss/projects.scss";
@import "../src/modules-scss/contact.scss";
@import "../src/modules-scss/socials.scss";
@import "../src/modules-scss/hand.scss";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito;
  color: $text;
  width: 100%;
  margin: 0em;
}
