@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");
@import "_variables";
@import "hero";
@import "skills";
@import "projects";
@import "contact";
@import "socials";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Nunito;
  color: $text;
  width: 100%;
  margin: 0em;
}
